.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 7px;
  }
  
  .button:hover,
  .button:active {
    background: #210527;
    border-color: #b0acb1;
  }
  
  .button:focus {
    outline: none;
  }
  